
services:
  train:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ./datasets:/app/datasets
      - ./models:/app/models
    environment:
      - CUDA_VISIBLE_DEVICES=-1  # Garante que o TensorFlow usa CPU
